@charset "UTF-8";
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
legend {
    
    color: black;
    padding: 3px 6px;
}

input {
    margin: 0.4rem;
}

fieldset {
			width: 300px;
			border: 2px solid #dcdcdc;
			border-radius: 10px;
			padding: 10px 20px;
			text-align: left;
		}
